asgiref==3.5.2
certifi==2022.6.15
chardet==5.0.0
Django==3.2
djangorestframework==3.13.1
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.12.0
Khayyam==3.0.17
Markdown==3.4.1
Pillow==9.2.0
psycopg2==2.9.3
pycosat==0.6.3
pytz==2022.1
sqlparse==0.4.2
urllib3==1.26.10
zipp==3.8.1
